<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    </head>
    <body>
        <!-- <p>Header added</p> -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp!</a>
                </div>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Log In </span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Log Out</a>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>


