.img-thumbnail img {
    width : 100%;
    border-radius: 25px;
}

.img-thumbnail {
    padding: 0;   
}

.img-thumbnail .caption-full {
    padding: 9px;
}
#Font-change {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: cursive;
}